<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BTCN02 - Calculation</title>
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	
</head>
<body>
    
    {{{body}}}
	
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/css/bootstrap/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>