
.wrap-operator .form-group{
    padding: .375rem .75rem;
}
.notify span{
    color: red;
    font-style: italic;
}
.notify .content label{
    color: red;
}
#result-number{
    background-color: #ffffff;
}

#content-error{
    visibility: hidden;
}
.container{
    margin: auto;
}
.container .header{
    margin: 10px 0 30px;
    font-size: x-large;
    font-weight: bold;
}
.p-l-0{
    padding-left: 0 !important;    
}
.c-scal{
    flex: 0 0 17.8571428571% !important; /* (100*5/12/4) / (100*7/12) */
    max-width: 17.8571428571% !important;
    padding: 0 15px !important;
}
